################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjePlanı.xlsx
/Diyet/Diyet/.vs/Diyet/FileContentIndex
