@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@model UserSignUpVM
<form action="Register" method="post">
              <div class="form-group ">
                
                <input asp-for="UserName" placeholder="UserName" class="form-control">
              </div>
              <div class="form-group">
                <input asp-for="Email" type="email" placeholder="your-email@gmail.com" class="form-control">
              </div>
              <div class="form-group">
                <input asp-for="Password" placeholder="Password" type="password" class="form-control" />
              </div>
              <div class="form-group">
                <input asp-for="ConfirmPassword" placeholder="Password Again" type="password" class="form-control" />
              </div>

              <input type="submit" value="Sign Up" class="btn btn-block btn-primary" asp-action="Register" asp-controller="Customer">

</form>